extends layout

block content
  .header
    h1= 'VTS Lab Access Control'
    p Here you can control our labratory lock

  .flex
    .sameRow
      h2='Unlock'
      p
        span='Token:'
        input(id="token" type="text" value='')
        button(onClick=`onUnlockClicked()`)='Unlock'
      h3
        span='Status: '
        span(id="status")='Locked'
    .sameRow
      h2= `Login`
      div(id='usernamePref')='username:'
      input(id="username", type="text", value="milan.rajkovic")
      br
      div(id='passwordPref')='password:'
      input(id="password", type="text", value="appsteam2020")
      br
      div(id='macPref')='MAC Adress:'
      input(id="mac" type="text" value='14:5f:94:f5:0b:ee')
      br
      button(id="btnLogin", onClick=`onLoginClicked()`)='Log In'
      h3 Response:
      textarea(id="loginResponse", cols="45", rows="4")